body{
    background-color:#f8f9fa;
}

.navigation{
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    margin-bottom: 15px;
}

.navigation a{
    padding: 0 10px 0 15px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    border: 4mm ridge rgba(54, 10, 100, .6);
    margin: 0 auto;
}

.search{
    display: flex;
    justify-content: center;
}

.cardVses{
    display: flex;
    justify-content: center;
}

.cards{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.form{
    display: flex;
    justify-content: center;
    max-width: 500px;
    width: 100%;
}

.forms{
    display: flex;
    flex-direction: column;
    border: 4px outset #7B68EE;
    border-radius: 5px;
}

label{
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal-title{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 655px) {
    .cards{
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 400px) {
    .cards{
        grid-template-columns: auto;
    }

    .navigation{
        flex-direction: column;
    }

    .cardVses{
        max-width: 375px;
        width: 100%;
    }
}
